body{
  background-color: pink;
}
.c1 span{
  font-weight: bold;
}
#desplazar{
  position: absolute;
  left: 10px;
}
.borde{
  border: 2px solid blue;
}
.negrita{
  font-weight: bold;
}
img{
  width: 300px;
}
